<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main>
  <h1>Pants</h1>
  <%- include('../partials/itemTypes'); %>
  
  <%- include('../partials/itemList'); %>
</main>

<%- include('../partials/footer'); %>
