<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <style>
    .list__item {
      display: flex;
      margin: 12px 0;
    }
    .item__img {
      width: 64px;
      height: 64px;
      margin-right: 8px;
      border: 1px solid #000;
      box-sizing: border-box;
    }
    .item__name {
      margin: 0;
    }
    .item__detail {
      margin: 0 0 4px;
    }
  </style>
</head>
<body>

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <h1>Items</h1>
  <ol class="list">
    <% gameItems.forEach(function(item) { %>
      <li class="list__item" id="<%= item.id %>">
        <div class="item__img">
          <% if(item.imgURL) { %>
          <img src="/assets/items/<%= item.imgURL %>" />
          <% } %>
        </div>
        <div class="item__content">
          <h3 class="item__name">
            <a href="#<%= item.id %>">
              <%= item.displayName %>
            </a>
          </h3>
          <p class="item__detail">
            Type: <%= item.type %>
          </p>
          <% if(item.isTwoHanded !== undefined) { %>
            <p class="item__detail">
              Two handed: <%= item.isTwoHanded %>
            </p>
          <% } %>
          <% if(item.details) { %>
            <% if(item.details.damage) { %>
            <p class="item__detail">
              Damage: <%= `from ${item.details.damage[0]}, to ${item.details.damage[1]}` %>
            </p>
            <% } %>
            <% if(item.details.defense) { %>
            <p class="item__detail">
              Defense: <%= item.details.defense %>
            </p>
            <% } %>
            <% if(item.details.range) { %>
            <p class="item__detail">
              Range: <%= item.details.range %>
            </p>
            <% } %>
          <% } %>
          <% if(item.slots) { %>
            <p class="item__detail">
            Slots: <%= item.slots %>
            </p>
          <% } %>
        </div>
        </li>
    <% }); %>
  </ol>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>